---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Details from '../components/Details.astro';
import Testimonials from '../components/Testimonials.astro';
import Pricing from '../components/Pricing.astro';
import Join from '../components/Join.astro';
---

<Layout>
  <main>
    <Hero />
    <Details />
    <Testimonials />
    <Pricing />
    <Join />
  </main>
</Layout>
